body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(249, 247, 247);
}

:root {
    --dpadding: 10px;
    --dmargin: 30px;
}

header {
    width: 100vw;
    background-color: rgb(219, 226, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--dpadding) 0px;
}

#weather-logo {
    height: 100px;
    margin-left: var(--dmargin);
}

#search{
    height: 30px;
    width: 500px;
}

button {
    height: 35px;
    width: 200px;
    /* background: none; */
	/* color: inherit; */
	/* border: none; */
    margin-right: var(--dmargin);
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: center;
}